.heroBanner {
  padding: 4rem 0 2rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background: var(--ifm-color-gray-300);
  background: linear-gradient(180deg, var(--ifm-color-gray-300) 0%, var(--ifm-color-gray-0) 50%);
}

[data-theme='dark'] .heroBanner {
  background: var(--ifm-color-gray-800);
  background: linear-gradient(180deg, var(--ifm-color-gray-800) 0%, var(--ifm-color-gray-900) 50%);
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.buttons a {
  min-width: 30%
}

@media screen and (max-width: 996px) {
  .buttons {
    flex-direction: column;
  }

  .buttons a {
    min-width: 80%
  }
}

.content {
  flex: 1 0 auto;
  display: flex;
}
